@import url('https://fonts.googleapis.com/css2?family=Khula&family=Open+Sans&display=swap');

.primary {
    fill: theme('colors.gray.500');
}

.secondary {
    fill: theme('colors.primary.default');
}

.fill-inherit > .secondary {
    fill: currentColor;
}
